* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}
/* 
input[type="checkbox"] {
  position: relative;
  right: 5%;
  top: 5%;
  width: 75px;
  border-radius: 100px;
  background: var(--text-primary);
  color: var(--bg-primary);
} */

input[type="checkbox"]::after {
  position: absolute;
  right: 5%;
  top: 25%;
  height: 40px;
  width: 75px;
  border-radius: 100px;
  background: var(--text-primary);
  color: var(--bg-primary);
  opacity: 0;
}

.theme-btn {
  position: absolute;
  right: 5%;
  width: 50px;
  height: 20px;
  top: 35px;
}

.toggle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  position: absolute;
  background: black;
  transition: 1s ease;
  transform: translateX(0px);
}

.light-toggle {
  transition: 1s ease;
  transform: translateX(0px);
}

.dark-toggle {
  transition: 1s ease;
  transform: translateX(30px);
}

body,
body[data-theme="light"] {
  --bg-primary: white;
  --text-primary: black;
  --sky-primary: skyblue;
  --sun-primary: yellow;
}

body,
body[data-theme="dark"] {
  --bg-primary: black;
  --text-primary: white;
  --sky-primary: rgb(54, 52, 52);
  --sun-primary: white;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: 1s ease;
  overflow: hidden;
}

header {
  height: 10%;
  width: 100%;
  text-align: center;
}

header h1 {
  transition: 1s ease;
  height: 0px;
  /* transform: scale(0); */
  transform-origin: bottom;
  overflow: hidden;
  animation: grow 1s forwards;
}

@keyframes grow {
  0% {
    height: 0px;
    /* transform: scale(0); */
  }
  100% {
    height: 35px;
    /* transform: scale(1); */
  }
}

header p {
  transform: translateX(-100%);
  transition: 1s ease;
  animation: slidein 2s forwards;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%);
    /* transform: scale(0); */
  }
  100% {
    transform: translateX(0%);
    /* transform: scale(1); */
  }
}

main {
  flex-grow: 1;
  /* border: 2px solid black; */
  width: 100%;
  overflow: hidden;
}

.sky {
  height: 75%;
  width: 100%;
  position: relative;
  background: var(--sky-primary);
}

.game-controller {
  height: 25%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.sun {
  width: 100px;
  height: 100px;
  background: var(--sun-primary);
  border-radius: 50%;
  /* border: 1px solid black; */
  position: relative;
  left: -35px;
  top: -10px;
}

.game-data {
  height: 50%;
  width: 65%;
  /* border: 2px solid red; */
  position: absolute;
  right: 5%;
  top: 10%;
  padding: 0.5em;
  z-index: 2;
}

.game-data p {
  font-size: 20px;
  margin: 5px;
}

.keyboard-div {
  width: 95%;
  height: 90%;
  border: 2px solid pink;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(9, 1fr);
}

.letter-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--text-primary);
  border-radius: 5%;
  cursor: pointer;
  position: relative;
  transition: 1s ease;
}

.float {
  position: relative;
}

.float::after {
  content: "+10";
  color: yellow;
  position: absolute;
  top: -50px;
  opacity: 0;
  animation: 2s 3.2s float forwards;
}

@keyframes float {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    top: -55px;
    opacity: 0;
  }
}

.night-scene {
  height: 100%;
  /* border: 2px solid orange; */
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  display: grid;
  transition: 1s ease;
  grid-template-columns: repeat(6, 1fr);
}

.day-scene {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  /* border: 2px solid red; */
}

.tree-div {
  width: 20%;
  height: 65%;
  /* border: 2px solid blue; */
  position: absolute;
  top: 35%;
  left: 65%;
}

.tree-top {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: green;
  position: absolute;
  left: -75px;
  top: -35%;
}

.tree-bottom {
  width: 100%;
  height: 100%;
  background: brown;
}

.hangman-div {
  width: 200px;
  height: 250px;
  /* border: 2px solid yellow; */
  position: absolute;
  bottom: 0;
  left: -200px;
}

.branch {
  width: 125px;
  height: 6px;
  background: brown;
  position: absolute;
  right: -5%;
  top: 35%;
  z-index: 5;
  transform: rotate(10deg);
}

.rope {
  height: 65px;
  width: 5px;
  background: rgb(230, 195, 39);
  /* transform: translateX(20px); */
  position: relative;
  animation: swing 3s infinite;
  top: 25px;
  left: -15px;
}

.noose {
  width: 35px;
  height: 5px;
  background: rgb(230, 195, 39);
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.building {
  width: 75px;
  background: gray;
  margin: 3px 3px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5em;
  transition: 1s ease;
}

.person-div {
  width: 75px;
  height: 150px;
  /* border: 2px solid red; */
  position: absolute;
  left: 65%;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation: swing 3s infinite;
}

/* @keyframes swingrope {
  0% {
    transform: translateX(20px) rotate(10deg);
  }
  50% {
    transform: translateX(20px) rotate(-10deg);
  }
  100% {
    transform: translateX(20px) rotate(10deg);
    /* border: 5px solid orange; 
  }
}  */

@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
    /* border: 5px solid orange; */
  }
}

.head {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: tan;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.eyes {
  width: 35px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.eye {
  height: 3px;
  width: 3px;
  background: black;
}

.mouth {
  width: 15px;
  height: 2px;
  background: black;
}
.neck {
  width: 10px;
  height: 5px;
  background: tan;
}

.middle-body {
  width: 135px;
  height: 45px;
  /* background: red; */
  /* border: 2px solid red; */
  border-radius: 15%;
  position: relative;
}
.body {
  width: 30%;
  height: 45px;
  background: red;
  position: absolute;
  left: 35%;
  top: 0%;
  z-index: 2;
  border-radius: 5%;
}

.arm {
  width: 45px;
  height: 8px;
  background: red;
  position: absolute;
  border-radius: 5%;
}

.arm-one {
  top: 35%;
  left: 10%;
  transform: rotate(-45deg);
}

.arm-two {
  top: 35%;
  right: 10%;
  transform: rotate(45deg);
}

.legs {
  width: 35px;
  height: 85px;
  display: flex;
}

.leg {
  height: 100%;
  width: 17px;
  background: blue;
}

.leg-one {
  transform: rotate(3deg);
}

.leg-two {
  transform: rotate(-3deg);
}

.earthquake {
  animation: earthquake 4s forwards;
}

.div-window {
  height: 15px;
  width: 15px;
  background: yellow;
}

@keyframes earthquake {
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
    height: 0px;
    overflow: hidden;
    padding: 0em;
  }

  /* height: 0px;
    overflow: hidden;
    padding: 0em; */
}

.currentword_tile {
  width: 20px;
}

.x {
  color: red;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}

.x::after {
  content: "X";
  font-size: 33px;
  opacity: 1;
  position: absolute;
}

.letter-div:hover {
  transform: scale(1.1);
}

footer {
  height: 5%;
}

.footer-letter {
  opacity: 0;
  animation: fadein 1s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
